<section id="sales-table">
    <div class="heading">
  <h3>Details</h3>
    </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 8%;">Sales Rep</th>
          <th style="width: 9%;">Date</th>
          <th >Client</th>
          <th style="width: 12%;">Primary Contact Person</th>
            <th style="width: 5%;">Title</th>
              <th >Vertical</th>
                <th style="width: 11%;">Meeting Location</th>
                  <th style="width: 12%;">Purpose of Interaction</th>
                  <th style="width: 12%;">Outcomes and Remarks</th>
                  <th>Engagement Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sal of sales" [ngClass]="{'lost': sal.status == 'Lost',
                                                    'won': sal.status == 'Won'}">
         <td>{{sal.salesRep}}</td>
         <td>{{sal.date}}</td>
         <td>{{sal.client}}</td>
          <td>{{sal.primaryContact}}</td>
          <td>{{sal.title}}</td>
          <td>{{sal.vertical}}</td>
           <td>{{sal.meetingLocation}}</td>
            <td>{{sal.purpose}}</td>
             <td>{{sal.outcomeRemarks}}</td>
              <td>{{sal.status}}</td>
        </tr>
      
       
      </tbody>
    </table>
    </div>
    </section>

