#sales-table{
    background-color: #fff;
        box-shadow: 0px 8px 16px;
}
#sales-table .heading{
     padding: 1rem 1rem 0rem 1.2rem;
}
#sales-table.heading h1{
  font-size: 24px;
  font-weight:300;
  color: #231f20;
}
#sales-table .table thead tr{
  border-top: hidden;
}
#sales-table .table thead th {
      padding: 20px 8px 20px 24px;
  font-size: 12px;
  font-weight: 700;
  color: #231f20;
}
#sales-table .table td{
      padding: 20px 8px 20px 24px;
        font-size: 12px;
        font-weight: 300;
        color: #231f20;
}
#sales-table .table tbody tr:nth-of-type(odd) {
 background-color: #f8f9fb; 
  border-color: #e4e8ec;
}
#sales-table .table .lost{
    background-color: #fff2f2;
}
#sales-table .table .won {
  background-color: #e6e5e6;
}

