#nav-section .nav-logo{
    padding: 1.7rem 0 1.7rem;
}
#nav-section h1{
    font-size: 48px;
    color: #231f20;
     text-transform: uppercase;
}
#nav-section .nav-logo .img-div{
  padding-left:0;
}
#nav-section .navbar{
    background-color: #fff;
    width: 100%;
    height: 50px;  
    margin-bottom: 20px;
}
#nav-section .navbar .nav-item{
    position: relative;
      padding-right: 0.5rem;
       padding-left: 0.5rem;
       
}
#nav-section .navbar .nav-item .nav-link{
    font-size: 14px;
    font-weight: 700;
  
    text-transform: uppercase;
    color: #2c3e50;
    opacity: 0.5;
}

#nav-section .navbar .nav-item .nav-link:hover{
 color: #2196F3;
}
#nav-section .navbar .nav-item .nav-link:hover::after{
    content: "";
    border-bottom: 3px solid #2196F3;
    position: absolute;
        bottom: -6px;
        left: 0px;
        width: 100%;

}
#nav-section .navbar .nav-item.active .nav-link{
color: #2196F3;
}
#nav-section .navbar .nav-item.active .nav-link::after {
  content: "";
  border-bottom: 3px solid #2196F3;
  position: absolute;
  bottom: -6px;
  left: 0px;
  width: 100%;

}

#nav-section .show{
    z-index: 900;
    background-color: #ffff;
    width: 100%;
    padding: 20px;

}

#nav-section .second-navbar .left-nav {
     flex:0 0 76%;
     margin-right: 40px;
}
#nav-section .second-navbar .right-nav {
     flex: 0 0 20%;
}
